@import "tailwindcss";

:root {
  --background: #24273a;
  --foreground: #cad3f5;
  scroll-behavior: smooth;
}

@theme {
  /* Base config */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Catppuccin Macchiato Palette */
  --color-base: #24273a;
  --color-crust: #1e2030;
  --color-surface0: #363a4f;
  --color-surface2: #575b71;
  --color-text: #cad3f5;
  --color-subtext0: #a5adce;
  --color-subtext1: #939ab7;
  --color-mauve: #cba6f7;
  --color-rosewater: #f5e0dc;
  --color-flamingo: #f2cdcd;
  --color-blue: #89b4fa;
  --color-green: #a6e3a1;
  --color-sapphire: #74c7ec;
  --color-red: #f38ba8;
}

body {
  background: var(--color-base);
  color: var(--color-text);
  font-family: var(--font-sans);
}

/* Add this for rehype-pretty-code */
pre {
  background-color: var(--color-crust) !important;
}

.br {
  display: block;
  content: "";
  margin-top: 1rem; /* More control over spacing */
}

.note-block {
  background-color: theme('colors.crust / 0.7');
  border-left: 4px solid theme('colors.mauve');
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  font-style: italic;
  color: theme('colors.subtext0');
}